<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/contact.css') }}">
</head>
<body>
    <h1>About flashlearn</h1>
  <div class="learning-quote">
    Revolutionizing education with an innovative approach: AI-powered, narrative-driven flashcards on a user-friendly platform. Bridging gaps in understanding for diverse learners, embracing individual genius beyond conventional assessments.
  </div>
</body>
</html>
