<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact Us</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/contact.css') }}">
</head>
<body>

  <!-- Learning Quote -->
  <div class="learning-quote">
    "Learning is like exploring a magical world. Each book, each lesson, is a new adventure waiting to be discovered. Embrace the joy of learning, and let your curiosity be your guide!"
  </div>

  <!-- Contact Icons -->
  <div class="contact-icons">
    <!-- Phone Icon with Number -->
    <div>
      <img src="{{ url_for('static', filename='backgrounds/phone-call.png') }}" alt="phone">
      
      <span>1011012345</span>
    </div>

    <!-- Mail Icon with Email -->
    <div>
      <img src="{{ url_for('static', filename='backgrounds/email.png') }}" alt="mail">
      <span>codecrusadersdsu@gmail.com</span>
    </div>

    <!-- Instagram Icon with ID -->
    <div>
      <img src="{{ url_for('static', filename='backgrounds/instagram.png') }}" alt="phone">
      <span>@code_crusader</span>
    </div>
  </div>

</body>
</html>
