<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/forgenre.css') }}">
    <title>Select Genre</title>
</head>
<body>
    <div class="title-container">
        <h1>SELECT GENRE</h1>
    </div>
    <div class="container">
        <div class="circle-box comedy">
            <img src="{{ url_for('static', filename='backgrounds/earth_comedy.png') }}" alt="comedy">
            <p>Comedy</p>
        </div>
        <div class="circle-box fictional">
            <img src="{{ url_for('static', filename='backgrounds/fictional_mons.jpg') }}" alt="fictional">
            <p>Fictional</p>
        </div>
        <div class="circle-box feel-good">
            <img src="{{ url_for('static', filename='backgrounds/feel_good.gif') }}" alt="feel goood">
            <p>Feel Good</p>
        </div>
        <div class="circle-box adventure">
            <img src="{{ url_for('static', filename='backgrounds/adventure.gif') }}" alt="adventure">
            <p>Adventure</p>
        </div>
    </div>
</body>
</html>
