<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1S4TXTJPKD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1S4TXTJPKD');
</script>
  <meta charset="UTF-8">
  <title>Not Updated Yet</title>
  <style>
    body {
      font-family: 'Poppins', sans-serif;
      background-color: #f0f0f0;
      text-align: center;
      padding: 50px;
    }
    .message {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  </style>
</head>
<body>
  <div class="message">
    <h1>Not Updated Yet</h1>
    <p>This page is currently in disguise, undergoing a top-secret transformation.<br> Swing by later for the big reveal.</p>
    <img src="../static/images/not_updated_yet_sticker.jpg" alt="Please come back later." height="300">
  </div>
</body>
</html>
