* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.hero {
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)), url('../backgrounds/homepage.jpg');;
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.logo {
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px yellowgreen;
    transition: transform 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.hero-content {
    max-width: 800px;
}

.hero h1 {
    font-size: 62px;
    margin-top: 20px;
}

.hero p {
    margin: 10px 0 40px;
    font-size: 14px;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #adabab;
    border: 1px solid #000;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    cursor: pointer;
    transition: color 0.3s, border 0.3s, background 0.3s; /* Consistent transition for color, border, and background */
}

.hero-btn:hover {
    border: 5px solid #f1f436;
    background: white;
    color: #333;
}


@media(max-width: 700px) {
    .hero h1 {
        font-size: 20px;
    }
}
